flows.json
[{"id":"8057bc47.773ae","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"37c54c32.fab8a4","type":"ui_form","z":"8057bc47.773ae","name":"","label":"","group":"eaad04dd.e170b8","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex","value":"ge","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"ch","type":"number","required":true,"rows":null},{"label":"Smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"Region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","ge":"","bmi":"","ch":"","sm":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["e16d4625.d0b7c8","4c303b35.e48454"]]},{"id":"e16d4625.d0b7c8","type":"debug","z":"8057bc47.773ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"4c303b35.e48454","type":"function","z":"8057bc47.773ae","name":"pre-token","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"ge\",msg.payload.ge)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"UFU3da5vk2JTc4xWiXi058zGk6tiatkRyErLj3KikFb_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["8150f4b.8834b08"]]},{"id":"8150f4b.8834b08","type":"http request","z":"8057bc47.773ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":244.00000286102295,"wires":[["366252e5.5826be","6eda8ea1.ecbde"]]},{"id":"366252e5.5826be","type":"debug","z":"8057bc47.773ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"6eda8ea1.ecbde","type":"function","z":"8057bc47.773ae","name":"Pre Prediction","func":"var ag = global.get(\"ag\")\nvar ge = global.get(\"ge\")\nvar bmi = global.get(\"bmi\")\nvar ch = global.get(\"ch\")\nvar sm = global.get(\"sm\")\nvar rg = global.get(\"rg\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Children\",\"Smoker\",\"Region\"]],\"values\": [[ag,ge,bmi,ch,sm,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":196.0000021457672,"wires":[["a9b8a9e2.56fb18"]]},{"id":"a9b8a9e2.56fb18","type":"http request","z":"8057bc47.773ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/d2a954dc-1a9c-41dc-9d7e-0c2b8e3e0680/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":220,"wires":[["db17b239.10d61","bc2c759e.722c48"]]},{"id":"db17b239.10d61","type":"debug","z":"8057bc47.773ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"fb705513.c37ef8","type":"inject","z":"8057bc47.773ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["4c303b35.e48454"]]},{"id":"884b3550.d139a8","type":"debug","z":"8057bc47.773ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":813.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"bc2c759e.722c48","type":"function","z":"8057bc47.773ae","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":128.00000190734863,"wires":[["884b3550.d139a8","54f64ec1.cd31d"]]},{"id":"54f64ec1.cd31d","type":"ui_text","z":"8057bc47.773ae","group":"eaad04dd.e170b8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":777.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"eaad04dd.e170b8","type":"ui_group","z":"8057bc47.773ae","name":"New","tab":"c4716149.baec4","order":1,"disp":true,"width":"7","collapse":false},{"id":"c4716149.baec4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]